<div class="fixed top-0 left-0 w-full z-50 flex gap-3 py-2 px-5 border-b border-white rounded items-center" style="background: #080832">
    <button hx-get="/admin" hx-swap="innerHtml" hx-target="#pageBody" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Admin</button>
    <button id="swapBtn" hx-get="/TR" hx-swap="innerHtml" hx-target="#pageBody" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ">TR</button>
    <h3 class="text-center text-gray-300 ml-auto text-2xl">BOULDER</h3>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-16">
<div class="flex flex-row border py-1 position:sticky">
    <div class="w-1/2 relative overflow-x-auto shadow-md sm:rounded-lg space-y-4 mt-4">
        <form id="insertForm" class="max-w-sm mx-auto py-2 px-2 rounded bg-gray-300" hx-post="/insertBoulder" hx-swap="innerHTML" hx-target="#tb" method="POST">
            {% include 'form_fields.html' %}
        </form>
    </div>
    <div class="w-1/2 relative overflow-x-auto shadow-md sm:rounded-lg space-y-4 mt-4">
        <canvas id="myChart" style="width:100%;max-height:400px;max-width:800px;"></canvas>
    </div>
</div>



<div class="relative shadow-md sm:rounded-lg space-y-4 mt-4">
    <table class="w-full text-sm text-left rtl:text-right">
        <thead class="text-xs uppercase">
            <tr>
                <th scope="col" class="px-6 py-3 text-white bg-gray-50 bg-gray-800">
                    Name
                </th>
                <th scope="col" class="px-6 text-white py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3 text-white bg-gray-50 bg-gray-800">
                    Setter
                </th>
                <th scope="col" class="px-6 text-white py-3">
                    Grade
                </th>
                <th scope="col" class="px-6 text-white py-3 bg-gray-50 bg-gray-800">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody id="tb">
            {%  include 'climb_table_row.html'%}
        </tbody>
    </table>
</div>

</div>