<div>
    <label for="name" class="block mb-2 text-sm font-medium text-gray-800">Name</label>
    <input type="text" id="name" name="name" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-lg focus:ring-blue-300 focus:border-blue-300 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
</div>
<div>
    <label for="color" class="block mb-2 text-sm font-medium text-gray-900 text-gray-800">Color</label>
    <select id="setter" name="color" class="block w-full p-2 test-lg border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-300 focus:border-blue-300 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
        {%  for item in colors %}
            <option value="{{ item.color }}">{{ item.color }}</option>
        {%  endfor %}
    </select>
</div>
<div>
    <label for="setter" class="block mb-2 text-sm font-medium text-gray-900 text-gray-800">Setter</label>
    <select id="setter" name="setter" class="block w-full p-2 test-lg border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-300 focus:border-blue-300 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
        {%  for item in setters %}
            <option value="{{ item.name }}">{{ item.name }}</option>
        {%  endfor %}
    </select>
</div>
<div>
    <label for="grade" class="block mb-2 text-sm font-medium text-gray-900 text-gray-800">Grade</label>
    <select id="setter" name="grade" class="block w-full p-2 test-lg border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-300 focus:border-blue-300 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
        {%  for item in grades %}
            <option value="{{ item.grade }}">{{ item.grade }}</option>
        {%  endfor %}
    </select>
</div>
<div class="flex space-y-4 mt-4">
    <input  type="submit" value="Add" id="small-input" class="block w-full p-2 text-lg text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
</div>