<!DOCTYPE html>
<html lang="en">
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>
<script>
    let myChartInstance = undefined;
    Chart.defaults.color = "#fff";

    function clearFields() {
        document.getElementById('name').value = "";
        document.getElementById('color').value = "";
        // If you want to reset the dropdown to its first option:
        document.getElementById('grade').value = "";
    }

    async function updateChart() {
        let resp = await fetch('/chartInfo', {method: 'GET'})
        let data = await resp.json()
        console.log(data)
        let keys = Object.keys(data)
        let values = Object.values(data)
        let maxValue = Math.max(...values)

        const ctx = document.getElementById("myChart").getContext('2d');

        if (myChartInstance) {
            myChartInstance.destroy();
        }

        myChartInstance =  new Chart(ctx, {
              type: "bar",
              data: {
                labels: keys,
                datasets: [{
                  backgroundColor: 'oklch(0.928 0.006 264.531)',
                  data: values
                }]
              },
            options: {
                categoryPercentage: 1.0,
                barPercentage: 0.98,
                scales: {
                  y: {
                      beginAtZero: true,
                      min: 0,
                      max: maxValue + 1, // sets the max to 1 above the highest bar
                      ticks:{
                        stepSize: 1
                      }
                  }
                }
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        updateChart();
        // Listen for the HTMX afterRequest event
        document.body.addEventListener('htmx:afterRequest', () => {
            updateChart()
            clearFields()
        })


    });
</script>

<head>
    <meta charset="UTF-8">
    <title>CLIMB</title>
</head>
<body style="background-color: #080832;" id="pageBody">
    {% include 'boulder.html' %}
</body>
</html>